<nav class="sidebar" [class.mobile-open]="isMenuOpen">
  <div class="sidebar-header">
    @if (isSmallScreen()) {
      <button (click)="toggleMenu()" class="toggle-button"><i class="pi pi-times"></i></button>
    }
    <h3>Inventário VO</h3>
  </div>
  <ul class="nav-menu">
    @for (item of items; track $index) {
      <li>
        <a
       (click)="toggleMenu()"
        routerLink="{{item.routeLink}}"
        routerLinkActive="active"
        >
         <i class="pi {{item.icon}}"></i> {{item.label}}
        </a>
      </li>
    }
  </ul>

  <a class="logout-button"
     routerLink="/login"
     routerLinkActive="active"
     (click)="logout()"
  >
    <i class="pi pi-sign-out" style="font-size: 1rem"></i>
    Sair
  </a>

</nav>

<div [class.overlay]="isMenuOpen"></div>

@if (isSmallScreen() && !isMenuOpen) {
  <button (click)="toggleMenu()" class="open-menu">
    <i class="pi pi-bars"></i>
  </button>
}

