<nav class="sidebar">
  <div class="sidebar-header">
    <h3>Inventário VO</h3>
  </div>
  <ul class="nav-menu">
    @for (item of items; track $index) {
      <li>
        <a
        routerLink="{{item.routeLink}}"
        routerLinkActive="active"
        >
          {{item.label}}
        </a>
      </li>
    }
  </ul>

  <a class="logout-button"
     routerLink="/login"
     routerLinkActive="active"
     (click)="logout()"
  >
    <i class="pi pi-sign-out" style="font-size: 1rem"></i>
    Sair
  </a>

</nav>
