<div class="edit">
  <div class="dashboard-header">
    <h2>{{isEdit() ? "Editar Nota Fiscal" : "Criar Nota Fiscal"}}</h2>
  </div>

  <form [formGroup]="receiptForm" class="dashboard-form">

  <div class="input-box-container">
    <div class="input-box">
      <label>Nº da Nota Fiscal</label>
      <input formControlName="receiptNumber"/>
      @if (receiptForm.controls['receiptNumber'].touched) {
        <div class="form-error">
          @if (receiptForm.controls['receiptNumber'].errors?.['required']) {
            <span>Número da Nota Fiscal é obrigatório</span>
          }
        </div>
      }
    </div>


    <div class="input-box">
      <label>Valor</label>
      <input formControlName="price"
             type="text"
             inputmode="decimal"
             placeholder="R$ 0,00"
             appCurrencyMask />
      @if (receiptForm.controls['price'].touched) {
        <div class="form-error">
          @if (receiptForm.controls['price'].errors?.['required']) {
            <span>Preço da Nota Fiscal é obrigatório</span>
          }
        </div>
      }
    </div>

  </div>

    <div class="input-box-container">

      <div class="input-box">
        <label>Empresa</label>
        <input formControlName="supplier"/>
        @if (receiptForm.controls['supplier'].touched) {
          <div class="form-error">
            @if (receiptForm.controls['supplier'].errors?.['required']) {
              <span>Empresa da Nota Fiscal é obrigatória</span>
            }
          </div>
        }
      </div>


      <div class="input-box">
        <label>Data da Nota Fiscal</label>
        <p-date-picker formControlName="receiptDate" [showIcon]="true"></p-date-picker>
        @if (receiptForm.controls['receiptDate'].touched) {
          <div class="form-error">
            @if (receiptForm.controls['receiptDate'].errors?.['required']) {
              <span>Data da Nota Fiscal é obrigatória</span>
            }
          </div>
        }
      </div>

    </div>

    <div class="input-box">
      <label>Chave de acesso</label>
      <input formControlName="accessKey"/>
    </div>

    <div class="form-buttons">
      <p-button type="submit" (click)="onSubmit()" [loading]="isLoading()">{{isEdit() ? "Salvar" : "Criar"}}</p-button>
      <button type="button" routerLink="/dashboard/notas-fiscais" >Cancelar</button>
    </div>
  </form>
</div>

