<div class="password">

  <form [formGroup]="redeemPasswordForm">

    <div class="form-title">
      <h2>Redefinição de senha</h2>
      <p>Informe o e-mail para o qual deseja redefinir a senha.</p>
    </div>


    <div class="input-box">
      <label for="email">E-mail</label>
      <input formControlName="email" type="email" autocomplete="true" placeholder="Digite seu e-mail"/>
      @if(redeemPasswordForm.controls['email'].touched) {
        <div class="form-error">
          @if (redeemPasswordForm.controls['email'].errors?.['required']) {
            <span>Campo de e-mail é obrigatório</span>
          }
          @if (redeemPasswordForm.controls['email'].errors?.['email']) {
            <span>Digite um endereço de e-mail válido.</span>
          }
        </div>
      }
    </div>

    @if (isLoading()) {
      <p-progress-spinner ariaLabel="loading" />
    }

    <button type="button" (click)="onSubmit()">Entrar</button>
  </form>

</div>

