<div class="edit">
  <div class="dashboard-header">
    <h2>{{isEdit() ? "Editar Recurso" : "Criar Recurso"}}</h2>
  </div>

  <form [formGroup]="resourceForm" class="dashboard-form">

    <div class="input-box">
      <label>Nome do Recurso</label>
      <input formControlName="name" />
      @if (resourceForm.controls['name'].touched) {
        <div class="form-error">
          @if (resourceForm.controls['name'].errors?.['required']) {
            <span>Nome do recurso é obrigatório</span>
          }
        </div>
      }
    </div>

    <div class="input-box-container">
      <div class="input-box">
        <label>Categoria</label>
        <p-select formControlName="category" [options]="categoryList().categories" optionLabel="name" placeholder="Selecionar Categoria" [filter]="true" filterBy="name"></p-select>
        @if (resourceForm.controls['category'].touched) {
          <div class="form-error">
            @if (resourceForm.controls['category'].errors?.['required']) {
              <span>Categoria do recurso é obrigatória</span>
            }
          </div>
        }
      </div>
      <div class="input-box">
        <label>Área de Conhecimento</label>
        <p-select formControlName="area" [options]="areaList().areas" optionLabel="name" placeholder="Selecionar Área" [filter]="true" filterBy="name"></p-select>
        @if (resourceForm.controls['area'].touched) {
          <div class="form-error">
            @if (resourceForm.controls['area'].errors?.['required']) {
              <span>Área do recurso é obrigatória</span>
            }
          </div>
        }
      </div>
    </div>

    <div class="input-box">
      <label>Descrição</label>
      <textarea formControlName="description" rows="3"></textarea>
      @if (resourceForm.controls['description'].touched) {
        <div class="form-error">
          @if (resourceForm.controls['description'].errors?.['required']) {
            <span>Descrição do recurso é obrigatória</span>
          }
        </div>
      }
    </div>

    <div class="input-box">
      <label>Localização</label>
      <input formControlName="location"/>
    </div>

    <div class="input-box-container">
      <div class="input-box">
        <label>Número do Patrimônio</label>
        <input formControlName="resourceNumber" />
      </div>
      <div class="input-box">
        <label>Número de Série</label>
        <input formControlName="serialNumber"/>
      </div>
    </div>

    <div class="input-box-container">
      <div class="input-box">
        <label>Estado de Conservação</label>
        <p-select formControlName="repairState" [options]="repairState" optionLabel="translation" optionValue="name" placeholder="Selecionar Estado de Conservação"></p-select>
        @if (resourceForm.controls['repairState'].touched) {
          <div class="form-error">
            @if (resourceForm.controls['repairState'].errors?.['required']) {
              <span>Estado de Conservação do recurso é obrigatório</span>
            }
          </div>
        }
      </div>
      <div class="input-box">
        <label>Status</label>
        <p-select formControlName="status" [options]="status" optionLabel="translation" optionValue="name" placeholder="Selecionar Status"></p-select>
        @if (resourceForm.controls['status'].touched) {
          <div class="form-error">
            @if (resourceForm.controls['status'].errors?.['required']) {
              <span>Status do recurso é obrigatório</span>
            }
          </div>
        }
      </div>
    </div>



    <div class="input-box-container">
      <div class="input-box">
        <label>Ano de fabricação</label>
        <input formControlName="manufactureYear" />
      </div>

      <div class="input-box">
        <label>Tempo de estimativa de uso</label>
        <p-select formControlName="useTime" [options]="useTime" optionLabel="translation" optionValue="name" placeholder="Selecionar Estimativa"></p-select>
        @if (resourceForm.controls['useTime'].touched) {
          <div class="form-error">
            @if (resourceForm.controls['useTime'].errors?.['required']) {
              <span>Estimativa de uso do recurso é obrigatória</span>
            }
          </div>
        }
      </div>
    </div>

    <div class="input-box-container">
      <div class="input-box">
        <label>Nota Fiscal</label>
        <p-select formControlName="receipt" [options]="receiptList().receipts" optionLabel="receiptNumber" placeholder="Selecionar Nota Fiscal" [filter]="true" filterBy="receiptNumber"></p-select>
      </div>
        <div class="input-box">
          <label>Valor</label>
          <input appCurrencyMask type="text"
                 inputmode="decimal"
                 placeholder="R$ 0,00" formControlName="price"/>
        </div>
      </div>

      <div class="input-box">
        <label>Observação</label>
        <textarea formControlName="observation" rows="3"></textarea>
      </div>

      <div class="form-buttons">
        <p-button type="submit" (click)="onSubmit()" [loading]="isLoading()">{{isEdit() ? "Salvar" : "Criar"}}</p-button>
        <button type="button" routerLink="/dashboard/inventario" >Cancelar</button>
      </div>
  </form>
</div>
