<div class="password">

  <form [formGroup]="resetPasswordForm">

    <div class="form-title">
      <h2>Redefinição de senha</h2>
      <p></p>
    </div>

    <div class="input-box">
      <label for="password">Nova Senha</label>
      <input formControlName="password" type="password" autocomplete="true" placeholder="Digite sua senha"/>
      @if(resetPasswordForm.controls['password'].touched) {
        <div class="form-error">
          @if (resetPasswordForm.controls['password'].errors?.['pattern']) {
            <span>Senha deve conter: Ao menos 8 caracteres, 1 letra maiúscula, 1 número, 1 caractere especial</span>
          }
          @if (resetPasswordForm.controls['password'].errors?.['required']) {
            <span>Digite sua senha</span>
          }
        </div>
      }
    </div>

    <div class="input-box">
      <label for="password">Confirme Sua Senha</label>
      <input formControlName="confirmPassword" type="password" autocomplete="true" placeholder="Repita sua senha"/>
      @if(resetPasswordForm.controls['confirmPassword'].touched) {
        <div class="form-error">
          @if (resetPasswordForm.controls['confirmPassword'].errors?.['required']) {
            <span>Confirme sua senha</span>
          }
          @if (resetPasswordForm.hasError('notSame')) {
            <span>As senhas não são iguais</span>
          }
        </div>
      }
    </div>


    @if (isLoading()) {
      <p-progress-spinner ariaLabel="loading" />
    }

    <button type="submit" (click)="onSubmit()">Entrar</button>
  </form>

</div>

