<div class="edit">
  <div class="dashboard-header">
    <h2>{{isEdit() ? "Editar Categoria" : "Criar Categoria"}}</h2>
  </div>

  <form [formGroup]="categoryForm" class="dashboard-form">

    <div class="input-box">
      <label>Nome</label>
      <input formControlName="name" />
      @if (categoryForm.controls['name'].touched) {
        <div class="form-error">
          @if (categoryForm.controls['name'].errors?.['required']) {
            <span>Nome da categoria é obrigatório</span>
          }
        </div>
      }
    </div>

    <div class="form-buttons">
      <p-button type="submit" (click)="onSubmit()" [loading]="isLoading()">{{isEdit() ? "Salvar" : "Criar"}}</p-button>
      <button type="button" routerLink="/dashboard/categorias" >Cancelar</button>
    </div>
  </form>
</div>

