<div class="edit">
  <div class="dashboard-header">
    <h2>{{isEdit() ? "Editar Área" : "Criar Área"}}</h2>
  </div>

  <form [formGroup]="areaForm" class="dashboard-form">

    <div class="input-box">
      <label>Nome</label>

      <input formControlName="name" placeholder="Area"/>
      @if (areaForm.controls['name'].touched) {
        <div class="form-error">
          @if (areaForm.controls['name'].errors?.['required']) {
            <span>Nome da área é obrigatório</span>
          }
        </div>
      }
    </div>

    <div class="form-buttons">
      <button type="button" (click)="onSubmit()" >{{isEdit() ? "Editar" : "Criar"}}</button>
      <button type="button" routerLink="/dashboard/areas" >Cancelar</button>
    </div>
  </form>
</div>
