<div class="edit">
  <div class="dashboard-header">
    <h2>{{isEdit() ? "Editar Empréstimo" : "Criar Empréstimo"}}</h2>
  </div>

  <form [formGroup]="loanForm" class="dashboard-form">

    <div class="input-box-container">
      <div class="input-box">
        <label>Nome do estudante</label>
        <input formControlName="studentName"/>
        @if (loanForm.controls['studentName'].touched) {
          <div class="form-error">
            @if (loanForm.controls['studentName'].errors?.['required']) {
              <span>Nome do estudante é obrigatório</span>
            }
          </div>
        }
      </div>

      <div class="input-box">
        <label>RA do estudante</label>
        <input formControlName="studentId"/>
        @if (loanForm.controls['studentId'].touched) {
          <div class="form-error">
            @if (loanForm.controls['studentId'].errors?.['required']) {
              <span>RA do estudante é obrigatório</span>
            }
          </div>
        }
      </div>
    </div>

    <div class="input-box-container">
      <div class="input-box">
        <label>Data - Empréstimo</label>
        <p-date-picker formControlName="loanDate" [showIcon]="true" [showTime]="true"></p-date-picker>
        @if (loanForm.controls['loanDate'].touched) {
          <div class="form-error">
            @if (loanForm.controls['loanDate'].errors?.['required']) {
              <span>Data do empréstimo é obrigatória</span>
            }
          </div>
        }
      </div>

      <div class="input-box">
        <label>Data - Vencimento</label>
        <p-date-picker formControlName="dueDate" [showIcon]="true" [showTime]="true"></p-date-picker>
        @if (loanForm.controls['dueDate'].touched) {
          <div class="form-error">
            @if (loanForm.controls['dueDate'].errors?.['required']) {
              <span>Data de vencimento do empréstimo é obrigatória</span>
            }
          </div>
        }
      </div>

    </div>

    <div class="input-box-container">

      <div class="input-box">
        <label>Status</label>
        <p-select formControlName="loanStatus" [options]="loanStatus" optionLabel="translation" optionValue="name" placeholder="Selecionar Status"></p-select>
        @if (loanForm.controls['loanStatus'].touched) {
          <div class="form-error">
            @if (loanForm.controls['loanStatus'].errors?.['required']) {
              <span>Status do empréstimo é obrigatório</span>
            }
          </div>
        }
      </div>


      <div class="input-box">
        <label>Recurso(s)</label>
        <p-multi-select formControlName="loanItems" [options]="resourceList().resources" optionLabel="name" optionValue="resourceId"  [filter]="true" filterBy="name" placeholder="Selecionar Recurso(s)"></p-multi-select>
        @if (loanForm.controls['loanItems'].touched) {
          <div class="form-error">
            @if (loanForm.controls['loanItems'].errors?.['required']) {
              <span>Selecione pelo menos um item</span>
            }
          </div>
        }
      </div>


    </div>


    <div class="input-box">
      <label>Observação</label>
      <textarea formControlName="observation" rows="3"></textarea>
    </div>

    <div class="form-buttons">
      <p-button type="submit" (click)="onSubmit()" [loading]="isLoading()">{{isEdit() ? "Editar" : "Criar"}}</p-button>
      <button type="button" routerLink="/dashboard/emprestimos" >Cancelar</button>
    </div>
  </form>
</div>

